extends layouts/main

block content
  .form-container
    form(action=`/users${routes.changePassword}` method="post").changePassword-form
      input(type="password" placeholder="Old password" required=true name="oldPassword")
      input(type="password" placeholder="New password" required=true name="newPassword")
      input(type="password" placeholder="Verify password" required=true name="verifyPassword")
      input(type="submit" value="Change password")
    a(href=routes.me).form-container__link
      button Back