extends layouts/main

block content
  .form-container
    form(action=routes.join method="post" enctype="multipart/form-data").join-form
      .fileUpload
        label(for="avatar") Avatar
        input(type="file" id="avatar" accept="image/*" name="avatarFile")
      input(type="text" placeholder="Full name" required=true name="name")
      input(type="email" placeholder="Email" required=true name="email")
      input(type="password" placeholder="Password" required=true name="password")
      input(type="password" placeholder="Verify password" required=true name="password2")
      input(type="submit" value="Join now")
    include partials/socialLogin