mixin videoBlock(video={})
  .videoBlock
    a(href=routes.videoDetail(video.id))
      video.videoBlock__thumnail(src=video.videoUrl controls=false)
      .videoBlock__detail
        img(src=video.creator.avatarUrl).profile__avatar.avatar--small
        .videoBlock__info
          h4.videoBlock__title #{video.title}
          .videoBlock__subInfo
            h5.videoBlock__creator #{video.creator.name}
            h5.videoBlock__createdAt #{video.createdAt}